<nav class="navbar navbar-expand-md navbar-light bg-dark fixed-top">
  <a class="navbar-brand text-light"><img src="{{url_for('static', filename='sense_logo.png')}}" />TODO LIST</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
       <button id='all' class="m-1 btn btn-info">All</button>
      </li>
      <li class="nav-item">
        <button id='completed' class="m-1 btn btn-info">COMPLETED</button>
      </li>
      <li class="nav-item">
         <button id='pending' class="m-1 btn btn-info">PENDING</button>
      </li>
    </ul>

<div class="container text-center">
  <div class="d-inline-block mt-3"><input type="text" id="todo" placeholder="Enter a new todo..."></div>
  <button id='create' class="btn btn-success">CREATE</button>
  
</div>
<a className="text-light" href="https://github.com/stdevelopr/TODOList"><img src="{{url_for('static', filename='github.png')}}" alt=''/></a>
  </div>
</nav>